@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

$kor-font: 'Noto Sans KR', sans-serif;
$kor-font-regular: 400;
$kor-font-medium: 500;
$kor-font-bold: 700;

$white: #ffffff;
$baby-pink: #efb1b1;
$pink: #e68789;
$dark-gray: #4c4e51;
$gray: #707070;
$light-gray: #efeded;
$hr-line:#cecece;