@import 'Variable.scss';

.application .theme--light.v-card,
.theme--light .v-card {
    width: 15vw !important;
}
.application .theme--light.v-list, .theme--light .v-list {
    background:#e68789;
}
.toobar-item > .v-btn__content {
    justify-content: left;
    margin-left:4vw;
    color: #fff !important;

}